html, body {
    margin: 0;
    min-height: 100vh;
    background: rgb(0,0,3);
    --fgHover: rgb(222,222,222, 0.1);
    --fg: #222;
    --bg: #eeecec;
    font-family: 'Fira Sans', sans-serif;

    background: var(--bg);
    color: var(--fg);
}

body.dark {
    --fg: #fafafa;
    --fgHover: rgb(250,250,250, 0.1);
    --bg: #222;
}

main {
    max-width: 800px;
    margin: 0 auto;
    width: calc(100% - 2em);
}

.rowWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.colWrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



footer {
    left: 0;
    bottom: 5px;
    width: 100%;
    position: absolute;
    text-align: center; 
}

footer{
    font-size: 1em;
    color: var(--fg);
}

textarea, .p-heights {
    padding: 5px 5px 6em 5px;
}

input:focus, textarea:focus, .p-heights:focus{
    background: var(--fgHover);
}

input, textarea, .p-heights {
    box-sizing: border-box;
    border: none;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    width: 100%;
    color: var(--fg);
    font-size: 1em;
    min-height: 2em;
    line-height: 1.5em;
    font-family: 'Inconsolata', monospace;
    background: transparent;
    outline: none;
    word-wrap: break-word;
    white-space: pre-wrap;
}

input {
    padding: 5px;
}

textarea {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    resize: none;
    position: absolute;
}

.p-heights {
    visibility: hidden;
}

.p-heights.endline {
    padding-bottom: 1.65em;
}

.markdown {
    width: 100%;
    position: relative;
    display: flex;
}

a {
    text-decoration: none;
    color: var(--fg);
    text-decoration: underline;
}

a:hover{
    cursor: grab;
}

button {
    background: none;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
    color: var(--fg); 
    font-size: 1.5em;
}

button:hover, button:focus {
    cursor: grab;
    background: var(--fgHover);
}

.addListButton::after {
    position: absolute;
    content: 'Create a list';
    pointer-events: none;
    white-space: nowrap;
    padding: 5px;
    background: var(--fgHover);
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    opacity: 0;
    transform: translate(-90%, 35px);
    transition: opacity .2s, transform .2s;
    transition-delay: 0s;
}

.addListButton:hover::after {
    transition-delay: 0.5s;
    opacity: 1 !important;
}


::selection, ::-moz-selection  {
    color: var(--fg) !important;
    background: blue;
}


