html, body {
    margin: 0;
    min-height: 100vh;
    background: rgb(0,0,3);
    --fg: #222;
    --bg: #fafafa;

    background: var(--bg);
    color: var(--fg);
}
main {
    max-width: 800px;
    margin: 0 auto;
    width: calc(100% - 2em);
}
.colWrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



footer {
    left: 0;
    bottom: 5px;
    width: 100%;
    position: absolute;
    text-align: center; 
}

p, footer{
    color: var(--fg);
}

p, a, footer{
    font-family: 'Viaoda Libre', cursive;
    font-size: 20px;
}



input, textarea, .p-heights {
    box-sizing: border-box;
    border: none;
    width: 100%;
    color: var(--fg);
    padding: 5px;
    min-height: 2em;
    line-height: 1.5em;
    margin: 0;
    font-family:'Times New Roman', Times, serif; 
    background: transparent;
    outline: 0.2px solid black;
    word-wrap: break-word;
    white-space: pre-wrap;
}

input {
    margin: 20px 0 20px 0;
}

textarea {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    resize: none;
    position: absolute;
}

.p-heights {
    visibility: hidden;
}

.p-heights.endline {
    padding-bottom: 1.65em;
}

.markdown {
    width: 100%;
    position: relative;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    color: rgb(249, 196, 194);
}

a:hover{
    text-decoration: underline;
}

button {
    margin-top: 15px;
    text-decoration: none;
    width: fit-content;
    border: 0.1px solid grey;
    color: black;
    font-family: 'Viaoda Libre', cursive;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
}

button:hover {
    bottom: 35px;
    cursor: grab;
    background:rgb(225,150,147);
    color: white;
}


